// Bootstrap overrides (must come BEFORE bootstrap import)
// $primary: red;

// Custom SCSS
// @import './reset'; NOTE: this may muck-up built-in Bootstrap styles
@import './variables';
// @import './buttons'; NOTE: currently the button naming convention is the same as bootstrap and will therefore override Bootstrap styles

.navbar-nav {
    .nav-item {
        .nav-link {
            transition: 0.3s;
        }
        .nav-link:hover {
            border-bottom: 0.1rem solid grey;
            padding-bottom: 0.4rem;
        }
    }
}

.mg-hero {
    background-image: url("../resources/images/hero.jpeg");
    background-size: cover;
    margin-top: 57px;
    height: 95vh;
    color: $colour-standard;
    // TODO: extract .overlay-light and .overlay-dark into their own partial
    .overlay-light {
        background-color: $overlay-light;
        height: 100%;
        width: 100%;
    }
    .overlay-dark {
        background-color: $overlay-dark;
        height: 100%;
        width: 100%;
    }
    .scroll {
        color: $colour-standard;
        float: bottom;
        .material-icons {
            font-size: 3rem;
            color: $colour-standard;
        }
    }
    small {
        font-size: .8rem;
    }
}

// Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";