* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
     box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  color: #000;
  background-color: #650302;
  margin: 0px;
  padding: 0px;
}

/* Header */

header {
  width: 80%;
  max-width: 960px;

  height: auto;
  margin: 15px auto 0 auto;

  display: flex;
}

.header-column_1 {
  width: 20%;
  background-image: url("../images/band_logo.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

.header-column_2 {
  width: 80%;
  height: 200px;
  margin-left: 2%;
  background-image: url("../images/musical-notes_COPYRIGHTED.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
}

.content {
  width: 960px;
  margin: 0 auto 0 auto;
  background-color: #FFF;

  display: flex;
}

/* Column 1 */

.column_1 {
  width: 200px;
  padding: 0 10px 10px 10px;
  background-color: #dee0e2;
}

.navigation-bar {
  height: 250px;
  width: 160px;
  margin: 20px auto;
  padding: 0 10px 0 10px;
  background-color: #eff1f2;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.cookies-policy {
  height: 200px;
  width: 160px;
  margin: auto;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.cookies-policy span {
  font-style: italic;
}

.cookies-policy h3 {
  margin: 0;
}

.side-content {
  width: 160px;
  margin: 20px auto;
  border: 1px solid black;

  display: flex;
  flex-direction: column;
}

.side-content-block-colour {
  height: 25px;
  width: 160px;
  background-color: #650302;
  color: #FFF;

  display: flex;
  align-items: center;
  justify-content: center;
}

.side-content-news {
  height: 240px;
  text-align: center;
  padding: 0 10px 0 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.side-content-news span {
  font-style: italic;
}

.side-content-news img {
  width: 160px;
  padding: 0 10px 0 10px;
}

.side-content-visitors {
  height: 60px;
  text-align: center;
  padding: 0 10px 0 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.side-content-guestbook {
  height: 160px;
  text-align: center;
  padding: 0 10px 0 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/* Column 2 */

.column_2 {
  width: 760px;
  padding: 0 10px 10px 10px;
}

.column_2 img {
  width: 740px;
}

footer {
  width: 960px;
  height: 80px;
  background-color: #DFE3E2;
  margin: 0 auto 0 auto;
  padding: 20px 0 20px 0;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/* Footer */

footer nav span {
  padding: 0 10px 0 10px;
}
