* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
     box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  color: #000;
  background-color: #650302;
  margin: 0px;
  padding: 0px;
}

/* Set width of main containers */
.content, .width-80 {
  width: 80%;
  max-width: 960px;
  overflow: hidden;
}

/* Text and images will re-size to suit browser width */
.content h1, h2, p, img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Navigation Bar */

header nav {
  background-color: #dee0e2;
  top: 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  left: 50%;
  transform: translateX(-50%);

  width: 80%;
  max-width: 960px;
  height: auto;
  z-index: 1;
}

header nav div {
  padding: 0.5rem;
  height: inherit;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  flex-grow: 2;
  text-align: center;
}

header nav a {
  font-weight: bold;
  color: black;
  text-decoration: none;
}

/* Change background-color on hover */
header nav div:hover, .dropdown:hover .dropdown-content {
  background-color: #f2f3f4;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 10rem;
  height: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 5;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.dropdown-content a {
  padding: 0.5rem 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

/* Main Logo */

.main_logo {
  margin: 1rem auto;
  padding-top: 2rem;

  margin: header nav height;
}

.main_logo img {
  max-height: 200px; /* Image looks distorted if height exceeds 200px */
}

/* Main Content Container */

.content {
  margin: 0 auto;
  background-color: #FFF;

  display: flex;
}

/* Column 1 */

.column_1 {
  width: 200px;
  padding: 10px;
  background-color: #dee0e2;
}

.cookies-policy {
  height: 10rem;
  width: 160px;
  margin: 1rem auto;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.cookies-policy span {
  font-style: italic;
}

.side-content {
  width: 160px;
  margin: 1rem auto;
  border: 1px solid black;

  display: flex;
  flex-direction: column;
}

.side-content-block-colour {
  height: 25px;
  width: 160px;
  background-color: #650302;
  color: #FFF;

  display: flex;
  align-items: center;
  justify-content: center;
}

.side-content-news {
  height: 240px;
  text-align: center;
  padding: 0 10px 0 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.side-content-news span {
  font-style: italic;
}

.side-content-news img {
  width: 160px;
  padding: 0 10px 0 10px;
}

.side-content-visitors {
  height: 60px;
  text-align: center;
  padding: 0 10px 0 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.side-content-guestbook {
  height: 160px;
  text-align: center;
  padding: 0 10px 0 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/* Column 2 */

.column_2 {
  width: 760px;
  padding: 0 10px 10px 10px;
}

.column_2 img {
  width: 740px;
}

/* Text styles (using classes) */

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

/* Footer */

footer {
  height: 6rem;
  background-color: #DFE3E2;
  margin: 0 auto 0 auto;
  padding: 1rem 0;
  border-top: 1px solid black;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

footer nav span {
  padding: 0 10px 0 10px;
}

/* Media Queries */

/* Typical iPad in portrait */
@media only screen and (max-width: 768px) {
  .content, .width-80 {
    width: 100%;
  }
  .main_logo img {
    width: 98%;
    margin: auto;
  }
  header nav {
    width: 100%;
  }
}

/* Typical iPhone in portrait */
@media only screen and (max-width: 480px) {
  html {
    font-size: 1.2rem;
  }
}

/* Media queries to deal with nav bar resizing */
/* TODO: Use JavaScript to deal with this more elegantly (set margin equal to nav bar height) */

@media only screen and (max-width: 932px) {
  .main_logo {
    padding-top: 3rem;
  }
}

@media only screen and (max-width: 610px) {
  .main_logo {
    padding-top: 4rem;
  }
}
