/* Font Styles etc. */

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
     box-sizing: border-box;
}

html {
  font-size: 16px;
}

a {
  color: black;
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  background-color: #650302;
  margin: 0px;
  padding: 0px;
}

h1, h2 {
  font-weight: 400;
}

/* Site Container */

.container {
  max-width: 960px;
  margin: 0 auto;
}

/* Text and images will re-size to suit browser width */
.container h1, h2, p, img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Header */

header nav {
  background-color: #dee0e2;
  top: 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  left: 50%;
  transform: translateX(-50%);

  width: 100%;
  max-width: 960px;
  height: auto;
  z-index: 1;
}

/* header nav div {
  padding: 0.5rem;
  height: inherit;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  flex-grow: 2;
  text-align: center;
} */

.navbar-btn {
  font-weight: 400;
  color: black;
  text-decoration: none;

  padding: 0.5rem;
  height: inherit;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  flex-grow: 2;
  text-align: center;
}

/* Change background-color on hover */
/* header nav a:hover, .dropdown:hover .dropdown-content {
  background-color: #f2f3f4;
} */

.navbar-btn:hover, .dropdown:hover .dropdown-content {
  background-color: #f2f3f4;
}

.navbar-mobile {
  display: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 10rem;
  height: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 5;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.dropdown-content a {
  padding: 0.5rem 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

/* Main Image */

.main-logo {
  margin: 1rem auto;
  padding-top: 2rem;
}

.main-logo img {
  max-height: 200px; /* Image looks distorted if height exceeds 200px */
  width: 98%;
  margin: auto;
}

/* Main Content Container */

.main-content {
  margin: 0 auto;
  background-color: #FFF;

  display: flex;
}

/* Column 1 */

.column_1 {
  width: 10rem;
  padding: 0 10px;
  background-color: #dee0e2;

  display: flex;
  flex-direction: column;
}

.side-content {
  margin: 1rem auto;
  border: 1px solid black;

  display: flex;
  flex-direction: column;
}

.side-content-title {
  height: 1.5rem;
  background-color: #650302;
  color: #FFF;

  display: flex;
  align-items: center;
  justify-content: center;
}

.side-content-body {
  height: auto;
  text-align: center;
  margin: 0.5rem;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.side-content-body span, img {
  font-style: italic;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.side-content-button {
  width: 98%;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border: 1px solid grey;
  border-radius: 0.5rem;
  font-weight: 400;
}

.side-content-button:hover {
  background-color: #f2f3f4;
}

/* Column 2 */

.column_2 {
  width: 85%;
  padding: 0 0.5rem;
}

.column_2 h1 {
  margin-top: 1rem;
}

.column_2 img, iframe {
  width: 100%;
  padding: 0.2rem;
  padding-bottom: 0.7rem;
}

button {
  padding: 0.5rem;
  border-radius: 0.5rem;
}

/* Text styles (using classes) */

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

/* Footer */

footer {
  height: 5rem;
  background-color: #DFE3E2;
  margin: 0 auto 0 auto;
  padding: 1rem 0;
  border-top: 1px solid black;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

footer nav span {
  padding: 0 0.625rem;
}

/* Gallery & Images */

.gallery-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0.25rem;
}

.gallery-column {
  flex: 25%;
  max-width: 25%;
  padding: 0 0.25rem;
}

.gallery-column img {
  vertical-align: middle;
}

/* Media Queries */

@media only screen and (max-width: 960px) {
  .gallery-column {
    flex: 50%;
    max-width: 50%;
  }
}

@media only screen and (max-width: 700px) {
  .column_1 {
    display: none;
  }
  .column_2 {
    width: 100%;
  }
  .column_2 h1, h2 {
    text-align: center;
  }
  .navbar-desktop {
    display: none;
  }
  .navbar-mobile {
    display: inline-block;
  }
  .dropdown-content {
    width: 95%;
  }
  .gallery-column {
    flex: 100%;
    max-width: 100%;
  }
  button {
    display: block;
    margin: 0 auto 1.2rem auto;
    padding: 0.75rem;
  }
}
