* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
     box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  color: #000;
  background-color: #650302;
  margin: 0px;
  padding: 0px;
}

/* Set width of main containers */
nav, header, footer, .content {
  width: 80%;
  max-width: 960px;
  overflow: hidden;
}

/* Text and images will re-size to suit browser width */
.content h1, h2, p, img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Navigation Bar */

nav {
  background-color: #dee0e2;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  position: fixed;
  left: 50%;
  transform: translateX(-50%);

  width: 80%;
  max-width: 960px;
  height: 2.5rem;
  z-index: 5;
}

nav a {
  border: 1px solid red;
}
nav span {
  border: 1px solid blue;
  height: inherit;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  margin-top: 1rem;
  background-color: #f9f9f9;
  width: auto;
  /* overflow: auto; */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Header */

header {
  margin: 1rem auto;
  padding-top: 2rem;
}

header img {
  max-height: 200px; /* Image looks distorted if height exceeds 200px */
}

/* Main Content Container */

.content {
  margin: 0 auto;
  background-color: #FFF;

  display: flex;
}

/* Column 1 */

.column_1 {
  width: 200px;
  padding: 0 10px 10px 10px;
  background-color: #dee0e2;
}

/* REMOVE this when top nav is complete. */
.navigation-bar {
  height: 250px;
  width: 160px;
  margin: 20px auto;
  padding: 0 10px 0 10px;
  background-color: #eff1f2;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.cookies-policy {
  height: 200px;
  width: 160px;
  margin: auto;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.cookies-policy span {
  font-style: italic;
}

.cookies-policy h3 {
  margin: 0;
}

.side-content {
  width: 160px;
  margin: 20px auto;
  border: 1px solid black;

  display: flex;
  flex-direction: column;
}

.side-content-block-colour {
  height: 25px;
  width: 160px;
  background-color: #650302;
  color: #FFF;

  display: flex;
  align-items: center;
  justify-content: center;
}

.side-content-news {
  height: 240px;
  text-align: center;
  padding: 0 10px 0 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.side-content-news span {
  font-style: italic;
}

.side-content-news img {
  width: 160px;
  padding: 0 10px 0 10px;
}

.side-content-visitors {
  height: 60px;
  text-align: center;
  padding: 0 10px 0 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.side-content-guestbook {
  height: 160px;
  text-align: center;
  padding: 0 10px 0 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/* Column 2 */

.column_2 {
  width: 760px;
  padding: 0 10px 10px 10px;
}

.column_2 img {
  width: 740px;
}

/* Text styles (using classes) */

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

/* Footer */

footer {
  height: 80px;
  background-color: #DFE3E2;
  margin: 0 auto 0 auto;
  padding: 20px 0 20px 0;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

footer nav span {
  padding: 0 10px 0 10px;
}
