* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
     box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  color: #000;
  background-color: #650302;
  margin: 0px;
  padding: 0px;
}

header {
  width: 960px;
  height: 200px;
  margin: 15px auto 0 auto;
  background-color: white;

  display: flex;
}

.header-column_1 img {
  width: 200px;
  height: 200px;
}

.header-column_2 img {
  width: 760px;
  height: 200px;
  margin: auto;
}

.content {
  width: 960px;
  margin: 0 auto 0 auto;
  background-color: #FFF;

  display: flex;
}

.column_1 {
  width: 200px;
  padding: 0 10px 10px 10px;
  background-color: #dee0e2;
}

.navigation-bar {
  height: 250px;
  width: 160px;
  margin: 20px auto;
  padding: 0 10px 0 10px;
  background-color: #eff1f2;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.column_2 {
  width: 760px;
  padding: 0 10px 10px 10px;
}

.column_2 img {
  width: 740px;
}

footer {
  width: 960px;
  height: 80px;
  background-color: #DFE3E2;
  margin: 0 auto 0 auto;
  padding: 20px 0 20px 0;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

footer nav span {
  padding: 0 10px 0 10px;
}
